// Typography
@mixin headline {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 800;
  color: $color-text-headline;
}
@mixin dividing-headline ($line-color, $background-color) {
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 1px $line-color;
  /* pull the border up*/
  height: 0.8em; 
  /* push the paragraph down */
  margin-bottom: 1.4em;
  /* line cover */
  &:first-line{
    background-color: $background-color;
    padding-left: 4em;
   }
  /* additional padding */
  &:before,
  &:after{
    content: '\0000a0 \0000a0'; 
  } 
}
@mixin hero-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $color-text-headline;
  @include adjust-font-size-to( 2.25 * $base-font-size);
}
@mixin lead-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $color-text-headline;
  @include adjust-font-size-to( 1.5 * $base-font-size);
  line-height: 1.5 * $base-line-height;
}

// Buttons
@mixin button-primary {
  text-transform: uppercase;
  text-decoration: none;
  font-weight:800;
  color: $color-button-primary-text;
  padding: 1em 4em;
  display: inline-block;
  border-radius: $default-border-radius;
  background: $gradient-blue-light;
  @include background( $gradient-blue );
  @include box-shadow( 0px 3px 0px $color-button-primary-background);
  &:hover {
    background: $gradient-blue-light-hover;
    @include background( $gradient-blue-hover );
  }
  &:active {
    @include background( $gradient-blue );
    @include box-shadow( 0px 3px 0px $color-button-primary-background);
    @include box-shadow( inset 0px 3px 0px $color-button-primary-background);
  }
}

@mixin button-secondary {
  text-transform: uppercase;
  text-decoration: none;
  font-weight:800;
  color: $color-button-secondary-text;
  padding: 1em 4em;
  display: inline-block;
  border-radius: $default-border-radius;
  background: $color-button-secondary-background;
  border: 1px solid $color-button-secondary-border;
  @include transition;
  &:hover {
    border: 1px solid $color-button-secondary-border-hover;
  }
  &:active {
    background: $color-button-secondary-background-active;
  }
}
@mixin button-strong{
  text-transform: uppercase;
  text-decoration: none;
  font-weight:800;
  color: $color-button-strong-text;
  padding: 1em 4em;
  display: inline-block;
  border-radius: $default-border-radius;
  background: $gradient-orangered-light;
  @include background( $gradient-orangered );
  @include box-shadow( 0px 3px 0px $orangered-dark );
  &:hover {
    background: $gradient-orangered-light-hover;
    @include background( $gradient-orangered-hover );
  }
  &:active {
    background: $gradient-orangered-light;
    @include background( $gradient-orangered );
    @include box-shadow( inset  0px 3px 0px $orangered-dark );
  }
}

// Mixins from Drupal Defaults
// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}
