$default-border-radius: 5px;

$default-transition-property: all;
$default-transition-duration: 0.25s;
$default-transition-function: false;
$default-transition-delay: false;

$vertical-spacing: 2 * $base-font-size;
